#projects.popup {
    min-width:  268px;
    min-height: 118px;
}

#projects .browser {
    padding:        10px;
    padding-bottom: 15px;
    margin-top:     15px;
    background:     white;
    border-radius:  3px;
    border:         1px solid #bbb;
    text-align:     center;
    display:        inline-block;
    height:         86%;
    overflow-y:     scroll;
    min-width:      248px;
    min-height:     60px;
}

#projects .browser .project {
    width:         86px;
    height:        40px;
    font-size:     12px;
    overflow:      hidden;
    float:         left;
    display:       inline-block;
    padding:       10px 15px 15px;
    white-space:   nowrap;
    text-overflow: ellipsis;
    cursor:        pointer;
}

#projects .browser .project:hover {
    color: #37a;
}

#projects .browser .project [class*="entypo-"] {
    font-size:     32px;
    margin-bottom: 5px;
}
