#logs {
}

#logs.popup {
    background: rgba(245,245,245,.8);
    min-width:  190px;
    min-height: 190px;
}

#logs .tabs li.active {
    background:   #000 !important;
    color:        white !important;
    border-color: #333 !important;
}

#logs [class*="logs-content-"] {
    height:        90%;
    width:         250px;
    background:    black;
    border-radius: 0 0 3px 3px;
    min-height:    100px;
    padding:       5px 10px;
    overflow:      scroll;
    float:         left;
    display:       none;
}

#logs [class*="logs-content-"] li {
    font-size:   14px;
    padding:     3px;
    color:       #ddd;
    width:       100%;
    font-family: monospace;
    white-space: nowrap;
    height:      10px;
}

#logs [class*="logs-content-"] li * {
    display: inline;
}

#logs [class*="logs-content-"].active {
    display: block;
}

#logs.popup .tabs li.active {
    background: rgba(0,0,0,.9) !important;
    margin-top: -1px;
}

#logs.popup [class*="logs-content-"] {
    background: rgba(0,0,0,.9);
    min-width:  170px;
    min-height: 150px;
}
