#chat {
    min-width:  270px !important;
    min-height: 208px !important;
}

#chat .active-users {
    border-bottom:  1px solid #eee;
    padding-bottom: 10px;
    display:        block;
    height:         50px;
}

#chat .active-users li {
    display:       inline-block;
    float:         left;
    clear:         both;
    width:         248px;
    font-size:     10px;
    color:         #888;
    line-height:   14px;
    margin-bottom: 3px;
}

#chat .active-users .bullet {
    width:         10px;
    height:        10px;
    border-radius: 10px;
    border:        2px solid white;
    margin:        0px 10px 0 0;
    float:         left;
}

#chat .active-users li.you {
    background:    white;
    border-radius: 10px;
}
#chat .active-users li.you:after {
    content:       "You";
    background:    #ff9;
    position:      absolute;
    margin-top:    -14px;
    margin-left:   209px;
    padding:       0 10px;
    border-radius: 0 10px 10px 0;
    color:         #aa2;
}
#chat.popup .active-users li.you:after {
    margin-left: 211px;
}

#chat .conversation {
    overflow-y: scroll;
    padding:    0 10px 0 0;
    box-shadow: inset 0px 0px 10px #eee;
    height:     80%;
}

#chat.popup .conversation {
    height:     100px;
    min-height: 100px;
    min-width:  262px;
}

#chat .conversation .message {
    margin:        10px 0;
    font-size:     12px;
    background:    white;
    padding:       5px;
    border-radius: 2px;
    border-left:   5px solid;
    word-break:    break-word;
}

#chat .submit-form {
    padding-top: 10px;
    min-width:   272px;
}

#chat .submit-form textarea {
    border-radius: 2px;
    border:        1px solid #ddd;
    width:         220px;
    min-width:     220px;
    height:        33px;
    resize:        none;
    font-size:     14px;
    padding:       2px 5px;
}
#chat .submit-form button {
    background:    #37a;
    color:         white;
    font-size:     18px;
    padding-top:   3px;
    width:         34px;
    height:        38px;
    float:         right;
    border:        0;
    border-radius: 2px;
    cursor:        pointer;
    border-bottom: 1px solid #558;
}

#chat .submit-form button * {
    cursor: pointer;
}
