#tabs {
    width:      100%;
    background: #37a;
    height:     30px;
    position:   absolute;
    top:        0;
    left:       50px;
    overflow:   hidden;
}

#tabs > .tab {
    font-size:     12px;
    padding:       5px 30px 5px 25px;
    margin:        6px -6px 0 6px;
    float:         left;
    max-width:     100px;
    position:      relative;
    background:    #a1b8ca;
    color:         #356;
    border-top-right-radius: 100px 170px;
    border-top-left-radius:  100px 170px;
    cursor:        pointer;
    -webkit-box-shadow: 0 10px 30px #269;
       -moz-box-shadow: 0 10px 30px #269;
            box-shadow: 0 10px 30px #269;
}

#tabs > .tab > .x {
    display:  none;
    position: absolute;
    top:      6px;
    right:    10px;
    color:    #37a;
}
#tabs > .tab:hover > .x {
    display: block;
}

#tabs > .tab.active {
    background:  #e8e8e8;
    color:       #555;
    z-index:     1;
    text-shadow: 1px 1px #f5f5f5;
}

#tabs > .tab:before,
#tabs > .tab:after {
    content:       '';
    background:    transparent;
    height:        14px;
    width:         14px;
    top:           0px;
    border-style:  solid;
    position:      absolute;
    border-width:  10px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

#tabs > .tab:before{
  border-color: transparent #a1b8ca transparent transparent;
  margin-left:  -48px;
  -webkit-transform: rotate(48deg);
     -moz-transform: rotate(48deg);
          transform: rotate(48deg);
}

#tabs > .tab:after{
  border-color:      transparent transparent transparent #a1b8ca;
  -webkit-transform: rotate(-48deg);
     -moz-transform: rotate(-48deg);
          transform: rotate(-48deg);
  position:          absolute;
  right:             -23px;
}

#tabs > .tab.active:before {
  border-color: transparent #e8e8e8 transparent transparent;
}
#tabs > .tab.active:after {
  border-color: transparent transparent transparent #e8e8e8;
}

#tabs > .tab > .text {
    width:         100%;
    overflow:      hidden;
    text-overflow: ellipsis;
    display:       inline-block;
    white-space:   nowrap;
}
